.Mui-selected {
    background-color: "none !important";
}
.carousel .thumbs {
    display: flex;
    align-items: center;
    justify-content: center
}
.like-btn { 
    font-size: 20px !important;
}
.like-btn:hover{
    background-color: #ffffff !important;
    color:#1BAA64 !important ;
    outline: none !important;
}
.like-btn:focus{
    outline: none !important;
}
.detail-tab { 
    padding-top:20px;
}
.detail-tab .MuiTabs-flexContainer{
    justify-content: center !important;
    border-top : 1px solid #F5F7F8;
    border-bottom : 1px solid #F5F7F8;
}

.detail-tab button {
    font-size: 18px;
}